<!-- <div>
    <hero-search></hero-search>
</div> -->
<table style="overflow-x:auto;" class="table table-bordered" *ngIf="employees">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Date of Joining</td>
            <td>Fixed CTC</td>
            <td>Variable CTC</td>
            <td>Joining Bonus</td>
            <td>Relocation Charges</td>
            <td>Buyout</td>
            <td>Last Updated Date</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees | slice:  (currentPage-1)*pageSize : currentPage*pageSize">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.date_of_joining | date: 'dd/MM/yyyy'}}</td>
            <td>{{employee.fixed_ctc}}</td>
            <td>{{employee.var_ctc}} <span style="color:deepskyblue">{{employee.var_ctc_frequency}}</span></td>
            <td>{{employee.joining_bonus}}</td>
            <td>{{employee.relocation_charges}}</td>
            <td>{{employee.buyout}}</td>
            <td>{{employee.updated_date | date: 'dd/MM/yyyy'}}</td>
            <td>
                <a class="btn btn-info" routerLink="/edit/{{employee.id}}">Edit</a>
            </td>
        </tr>

    </tbody>

</table>
<div class="pagination pagination-mini span-4" *ngIf="pageArray">
    <ul>
        <li [ngClass]="{disabled: currentPage == 1}" (click)="getCurrentPage(currentPage, 'sub')"><a href="javascript:void(0)">Prev</a></li>
        <li *ngFor="let n of pageArray; let i = index" (click)="getCurrentPage(i, 'add')" [ngClass]="{current: currentPage == i+1}"><a [ngClass]="{current: currentPage == i+1}" [ngStyle]="{'background-color': currentPage == i+1 ? '#D3D3D3' : 'white'}" href="javascript:void(0)">{{n}}</a></li>
        <li [ngClass]="{disabled: currentPage == noOfPages}" (click)="getCurrentPage(currentPage, 'add')"><a href="javascript:void(0)">Next</a></li>
        <li><span>Showing {{(currentPage == 1 ? currentPage : ((currentPage-1)*5)+1)}}-{{(currentPage == noOfPages ? totalItems : currentPage*5)}} of {{employees.length}}</span></li>
    </ul>
</div>